.flair {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.flair-1001 {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.flair-1001-round {
    width: 28px;
    height: 25px;
    background-position: -32px 0;
}

.flair-109 {
    width: 29px;
    height: 12px;
    background-position: -60px 0;
}

.flair-120volt {
    width: 22px;
    height: 23px;
    background-position: -89px 0;
}

.flair-1million {
    width: 64px;
    height: 64px;
    background-position: -111px 0;
}

.flair-abel {
    width: 23px;
    height: 21px;
    background-position: -175px 0;
}

.flair-adversary {
    width: 63px;
    height: 45px;
    background-position: -198px 0;
}

.flair-anarchistcookbook {
    width: 32px;
    height: 32px;
    background-position: -261px 0;
}

.flair-angel {
    width: 136px;
    height: 82px;
    background-position: -293px 0;
}

.flair-angrydingle {
    width: 68px;
    height: 36px;
    background-position: -429px 0;
}

.flair-apollyon {
    width: 28px;
    height: 33px;
    background-position: -497px 0;
}

.flair-azazel {
    width: 28px;
    height: 35px;
    background-position: -525px 0;
}

.flair-babyisaac {
    width: 28px;
    height: 33px;
    background-position: 0 -35px;
}

.flair-badposter {
    width: 121px;
    height: 20px;
    background-position: -429px -36px;
}

.flair-bandagegirl {
    width: 25px;
    height: 28px;
    background-position: -553px 0;
}

.flair-basementboy {
    width: 34px;
    height: 33px;
    background-position: -28px -35px;
}

.flair-bbf {
    width: 24px;
    height: 24px;
    background-position: -62px -28px;
}

.flair-bean {
    width: 32px;
    height: 32px;
    background-position: -261px -35px;
}

.flair-beth {
    width: 44px;
    height: 31px;
    background-position: -62px -56px;
}

.flair-bigfan {
    width: 24px;
    height: 24px;
    background-position: -86px -28px;
}

.flair-binky {
    width: 32px;
    height: 32px;
    background-position: -175px -56px;
}

.flair-bird {
    width: 19px;
    height: 18px;
    background-position: -175px -28px;
}

.flair-birdseye {
    width: 15px;
    height: 25px;
    background-position: -553px -28px;
}

.flair-blackbony {
    width: 28px;
    height: 25px;
    background-position: -207px -53px;
}

.flair-blackheart {
    width: 16px;
    height: 13px;
    background-position: -235px -53px;
}

.flair-blast {
    width: 24px;
    height: 22px;
    background-position: -550px -53px;
}

.flair-blasterbutt {
    width: 34px;
    height: 29px;
    background-position: -429px -56px;
}

.flair-blighted {
    width: 31px;
    height: 39px;
    background-position: -463px -56px;
}

.flair-bloat {
    width: 35px;
    height: 30px;
    background-position: -494px -56px;
}

.flair-bloodoath {
    width: 21px;
    height: 26px;
    background-position: 0 -75px;
}

.flair-bob {
    width: 28px;
    height: 25px;
    background-position: -21px -75px;
}

.flair-bobsbrain {
    width: 19px;
    height: 19px;
    background-position: -106px -75px;
}

.flair-bobscurse {
    width: 32px;
    height: 32px;
    background-position: -125px -75px;
}

.flair-body {
    width: 26px;
    height: 26px;
    background-position: -235px -75px;
}

.flair-bomb {
    width: 20px;
    height: 21px;
    background-position: -261px -75px;
}

.flair-bombbum {
    width: 33px;
    height: 27px;
    background-position: -529px -75px;
}

.flair-bookofbelial {
    width: 32px;
    height: 32px;
    background-position: 0 -102px;
}

.flair-bookofrevelations {
    width: 32px;
    height: 32px;
    background-position: -32px -102px;
}

.flair-bookofsecrets {
    width: 32px;
    height: 32px;
    background-position: -64px -102px;
}

.flair-bookofshadows {
    width: 32px;
    height: 32px;
    background-position: -157px -102px;
}

.flair-bookofsin {
    width: 32px;
    height: 32px;
    background-position: -189px -102px;
}

.flair-brimstone {
    width: 56px;
    height: 28px;
    background-position: -281px -86px;
}

.flair-brobobby {
    width: 16px;
    height: 22px;
    background-position: -157px -75px;
}

.flair-brownpoop {
    width: 27px;
    height: 28px;
    background-position: -96px -102px;
}

.flair-bumbo {
    width: 19px;
    height: 19px;
    background-position: -221px -102px;
}

.flair-bumbo2 {
    width: 36px;
    height: 32px;
    background-position: -240px -102px;
}

.flair-bumfriend {
    width: 17px;
    height: 20px;
    background-position: -562px -75px;
}

.flair-buttbomb {
    width: 21px;
    height: 20px;
    background-position: -337px -102px;
}

.flair-button {
    width: 28px;
    height: 19px;
    background-position: -358px -102px;
}

.flair-cain {
    width: 28px;
    height: 25px;
    background-position: -386px -102px;
}

.flair-card {
    width: 21px;
    height: 21px;
    background-position: -414px -102px;
}

.flair-catisaac {
    width: 32px;
    height: 29px;
    background-position: -435px -102px;
}

.flair-caveboy {
    width: 34px;
    height: 37px;
    background-position: -467px -95px;
}

.flair-chad {
    width: 53px;
    height: 48px;
    background-position: -501px -102px;
}

.flair-chaos {
    width: 28px;
    height: 25px;
    background-position: 0 -150px;
}

.flair-chest {
    width: 30px;
    height: 23px;
    background-position: -28px -150px;
}

.flair-chubs {
    width: 30px;
    height: 29px;
    background-position: -58px -150px;
}

.flair-coathanger {
    width: 18px;
    height: 21px;
    background-position: -554px -102px;
}

.flair-cohort {
    width: 55px;
    height: 44px;
    background-position: -276px -123px;
}

.flair-conquest {
    width: 44px;
    height: 38px;
    background-position: -88px -150px;
}

.flair-continuum {
    width: 28px;
    height: 25px;
    background-position: -132px -150px;
}

.flair-cornpoop {
    width: 27px;
    height: 28px;
    background-position: -160px -150px;
}

.flair-cqueen {
    width: 31px;
    height: 30px;
    background-position: -187px -150px;
}

.flair-cricketshead {
    width: 24px;
    height: 23px;
    background-position: -123px -123px;
}

.flair-d100 {
    width: 21px;
    height: 21px;
    background-position: -331px -123px;
}

.flair-d4 {
    width: 19px;
    height: 16px;
    background-position: -221px -123px;
}

.flair-d6 {
    width: 32px;
    height: 32px;
    background-position: -218px -150px;
}

.flair-danny {
    width: 32px;
    height: 25px;
    background-position: -331px -150px;
}

.flair-darkboy {
    width: 56px;
    height: 33px;
    background-position: -363px -150px;
}

.flair-darkbum {
    width: 19px;
    height: 25px;
    background-position: -352px -123px;
}

.flair-darksissy {
    width: 23px;
    height: 20px;
    background-position: -554px -123px;
}

.flair-deadboy {
    width: 35px;
    height: 33px;
    background-position: -419px -150px;
}

.flair-death {
    width: 37px;
    height: 35px;
    background-position: -454px -150px;
}

.flair-deathstouch {
    width: 22px;
    height: 19px;
    background-position: -250px -143px;
}

.flair-deckofcards {
    width: 32px;
    height: 32px;
    background-position: -491px -150px;
}

.flair-deliriousmeatboy {
    width: 32px;
    height: 32px;
    background-position: -523px -150px;
}

.flair-demonbaby {
    width: 18px;
    height: 24px;
    background-position: -555px -143px;
}

.flair-dgaper1 {
    width: 28px;
    height: 25px;
    background-position: 0 -182px;
}

.flair-dgaper2 {
    width: 28px;
    height: 29px;
    background-position: -28px -182px;
}

.flair-dgaper3 {
    width: 28px;
    height: 27px;
    background-position: -56px -182px;
}

.flair-dgaper4 {
    width: 32px;
    height: 29px;
    background-position: -132px -182px;
}

.flair-dgaper5 {
    width: 29px;
    height: 29px;
    background-position: -164px -182px;
}

.flair-dgaper6 {
    width: 30px;
    height: 25px;
    background-position: -193px -182px;
}

.flair-dgaper7 {
    width: 30px;
    height: 32px;
    background-position: -223px -182px;
}

.flair-dime {
    width: 18px;
    height: 13px;
    background-position: -414px -123px;
}

.flair-dimheretic {
    width: 70px;
    height: 68px;
    background-position: -253px -182px;
}

.flair-dip {
    width: 18px;
    height: 18px;
    background-position: -555px -167px;
}

.flair-dolly {
    width: 24px;
    height: 25px;
    background-position: -323px -185px;
}

.flair-drbrims {
    width: 32px;
    height: 32px;
    background-position: -491px -182px;
}

.flair-drlotp {
    width: 32px;
    height: 32px;
    background-position: -523px -182px;
}

.flair-drmark {
    width: 32px;
    height: 32px;
    background-position: 0 -214px;
}

.flair-drspirit {
    width: 32px;
    height: 32px;
    background-position: -32px -214px;
}

.flair-drugs {
    width: 28px;
    height: 25px;
    background-position: -64px -214px;
}

.flair-drwhore {
    width: 32px;
    height: 32px;
    background-position: -92px -214px;
}

.flair-drybaby {
    width: 23px;
    height: 23px;
    background-position: -347px -185px;
}

.flair-duke {
    width: 31px;
    height: 27px;
    background-position: -124px -214px;
}

.flair-eden {
    width: 28px;
    height: 25px;
    background-position: -155px -214px;
}

.flair-eden10 {
    width: 28px;
    height: 26px;
    background-position: -183px -214px;
}

.flair-eden2 {
    width: 28px;
    height: 34px;
    background-position: -211px -214px;
}

.flair-eden3 {
    width: 28px;
    height: 25px;
    background-position: -323px -214px;
}

.flair-eden4 {
    width: 28px;
    height: 28px;
    background-position: -351px -214px;
}

.flair-eden5 {
    width: 28px;
    height: 26px;
    background-position: -379px -214px;
}

.flair-eden6 {
    width: 29px;
    height: 29px;
    background-position: -407px -214px;
}

.flair-eden7 {
    width: 28px;
    height: 29px;
    background-position: -436px -214px;
}

.flair-eden8 {
    width: 31px;
    height: 32px;
    background-position: -464px -214px;
}

.flair-eden9 {
    width: 32px;
    height: 29px;
    background-position: -495px -214px;
}

.flair-edith {
    width: 34px;
    height: 30px;
    background-position: -527px -214px;
}

.flair-elkopolo {
    width: 28px;
    height: 33px;
    background-position: -64px -244px;
}

.flair-eluc {
    width: 26px;
    height: 28px;
    background-position: -124px -244px;
}

.flair-envy {
    width: 28px;
    height: 25px;
    background-position: -150px -244px;
}

.flair-epicfetus {
    width: 32px;
    height: 32px;
    background-position: -178px -244px;
}

.flair-error {
    width: 33px;
    height: 37px;
    background-position: -323px -244px;
}

.flair-esau {
    width: 30px;
    height: 28px;
    background-position: -356px -244px;
}

.flair-eternalheart {
    width: 16px;
    height: 14px;
    background-position: -250px -167px;
}

.flair-eve {
    width: 30px;
    height: 30px;
    background-position: -386px -244px;
}

.flair-exorcist {
    width: 30px;
    height: 24px;
    background-position: -416px -244px;
}

.flair-eyesore {
    width: 23px;
    height: 22px;
    background-position: -370px -185px;
}

.flair-fallen {
    width: 52px;
    height: 46px;
    background-position: -495px -244px;
}

.flair-famine {
    width: 36px;
    height: 36px;
    background-position: 0 -290px;
}

.flair-fartingbaby {
    width: 32px;
    height: 32px;
    background-position: -547px -244px;
}

.flair-fatbat {
    width: 48px;
    height: 30px;
    background-position: -36px -290px;
}

.flair-fate {
    width: 32px;
    height: 32px;
    background-position: -92px -276px;
}

.flair-fatty {
    width: 37px;
    height: 29px;
    background-position: -124px -290px;
}

.flair-fetus {
    width: 32px;
    height: 32px;
    background-position: -161px -276px;
}

.flair-fistula {
    width: 40px;
    height: 42px;
    background-position: -193px -290px;
}

.flair-flatworm {
    width: 22px;
    height: 10px;
    background-position: -266px -167px;
}

.flair-gangel {
    width: 32px;
    height: 32px;
    background-position: -233px -276px;
}

.flair-gaybombs {
    width: 27px;
    height: 28px;
    background-position: -265px -276px;
}

.flair-gemini {
    width: 32px;
    height: 30px;
    background-position: -356px -276px;
}

.flair-geminibaby {
    width: 22px;
    height: 25px;
    background-position: -393px -185px;
}

.flair-ggdb {
    width: 26px;
    height: 25px;
    background-position: -292px -276px;
}

.flair-ghostbaby {
    width: 16px;
    height: 22px;
    background-position: -415px -185px;
}

.flair-glut {
    width: 29px;
    height: 25px;
    background-position: -388px -276px;
}

.flair-gnawedhead {
    width: 28px;
    height: 25px;
    background-position: -417px -276px;
}

.flair-godhead {
    width: 23px;
    height: 18px;
    background-position: -431px -185px;
}

.flair-goldbomb {
    width: 20px;
    height: 21px;
    background-position: -454px -185px;
}

.flair-goldchest {
    width: 30px;
    height: 23px;
    background-position: -445px -276px;
}

.flair-goldengod {
    width: 34px;
    height: 33px;
    background-position: -318px -290px;
}

.flair-goldenkey {
    width: 14px;
    height: 20px;
    background-position: -371px -123px;
}

.flair-goldenpoop {
    width: 27px;
    height: 28px;
    background-position: -547px -276px;
}

.flair-goldheart {
    width: 16px;
    height: 13px;
    background-position: -288px -167px;
}

.flair-greed {
    width: 28px;
    height: 30px;
    background-position: -265px -304px;
}

.flair-greedbomb {
    width: 38px;
    height: 36px;
    background-position: -475px -290px;
}

.flair-greedheart {
    width: 38px;
    height: 36px;
    background-position: -388px -304px;
}

.flair-greedkeeper {
    width: 28px;
    height: 27px;
    background-position: -426px -304px;
}

.flair-greedkey {
    width: 38px;
    height: 36px;
    background-position: -513px -304px;
}

.flair-gurdy {
    width: 40px;
    height: 28px;
    background-position: 0 -340px;
}

.flair-gurdyjr {
    width: 43px;
    height: 24px;
    background-position: -40px -340px;
}

.flair-gus {
    width: 34px;
    height: 36px;
    background-position: -83px -340px;
}

.flair-harlequinbaby {
    width: 17px;
    height: 22px;
    background-position: -474px -185px;
}

.flair-headlessbaby {
    width: 18px;
    height: 14px;
    background-position: -304px -167px;
}

.flair-heart {
    width: 16px;
    height: 13px;
    background-position: -555px -185px;
}

.flair-hhorseman {
    width: 35px;
    height: 33px;
    background-position: -117px -340px;
}

.flair-hollow {
    width: 35px;
    height: 37px;
    background-position: -152px -340px;
}

.flair-hookworm {
    width: 25px;
    height: 19px;
    background-position: -293px -304px;
}

.flair-hornhand {
    width: 64px;
    height: 60px;
    background-position: -187px -340px;
}

.flair-hosthat {
    width: 22px;
    height: 23px;
    background-position: -551px -304px;
}

.flair-hushy {
    width: 19px;
    height: 20px;
    background-position: -454px -304px;
}

.flair-husk {
    width: 30px;
    height: 28px;
    background-position: -251px -340px;
}

.flair-imp {
    width: 24px;
    height: 22px;
    background-position: -293px -327px;
}

.flair-incubus {
    width: 22px;
    height: 22px;
    background-position: -317px -327px;
}

.flair-intruder {
    width: 30px;
    height: 25px;
    background-position: -339px -340px;
}

.flair-ipecac {
    width: 17px;
    height: 21px;
    background-position: -561px -198px;
}

.flair-isaac {
    width: 28px;
    height: 25px;
    background-position: -454px -327px;
}

.flair-isaacsheart {
    width: 18px;
    height: 22px;
    background-position: -561px -219px;
}

.flair-isek {
    width: 32px;
    height: 31px;
    background-position: -369px -340px;
}

.flair-itlives {
    width: 52px;
    height: 47px;
    background-position: -401px -340px;
}

.flair-jacob {
    width: 30px;
    height: 28px;
    background-position: -482px -340px;
}

.flair-jera {
    width: 17px;
    height: 22px;
    background-position: -551px -327px;
}

.flair-joker {
    width: 21px;
    height: 21px;
    background-position: -281px -349px;
}

.flair-joncusack {
    width: 31px;
    height: 32px;
    background-position: -512px -340px;
}

.flair-judas {
    width: 28px;
    height: 30px;
    background-position: -302px -349px;
}

.flair-key {
    width: 14px;
    height: 20px;
    background-position: -239px -219px;
}

.flair-keybum {
    width: 17px;
    height: 20px;
    background-position: -543px -349px;
}

.flair-knockoutdrops {
    width: 14px;
    height: 25px;
    background-position: -239px -241px;
}

.flair-larryjr {
    width: 35px;
    height: 31px;
    background-position: 0 -369px;
}

.flair-lazarus {
    width: 28px;
    height: 25px;
    background-position: -35px -369px;
}

.flair-leech {
    width: 25px;
    height: 14px;
    background-position: 0 -276px;
}

.flair-lilbrimstone {
    width: 32px;
    height: 32px;
    background-position: -330px -369px;
}

.flair-lilchest {
    width: 20px;
    height: 19px;
    background-position: -63px -369px;
}

.flair-lildelirium {
    width: 19px;
    height: 19px;
    background-position: -560px -349px;
}

.flair-lilgurd {
    width: 24px;
    height: 21px;
    background-position: -251px -368px;
}

.flair-lilgurd2 {
    width: 27px;
    height: 22px;
    background-position: -453px -368px;
}

.flair-lilhaunt {
    width: 22px;
    height: 19px;
    background-position: -480px -368px;
}

.flair-lilhorn {
    width: 28px;
    height: 26px;
    background-position: -543px -369px;
}

.flair-lilith {
    width: 32px;
    height: 27px;
    background-position: -35px -395px;
}

.flair-lilloki {
    width: 20px;
    height: 23px;
    background-position: -67px -395px;
}

.flair-lilmonstro {
    width: 19px;
    height: 19px;
    background-position: -87px -395px;
}

.flair-littlebattery {
    width: 32px;
    height: 32px;
    background-position: -106px -395px;
}

.flair-littlechad {
    width: 18px;
    height: 23px;
    background-position: -138px -395px;
}

.flair-littlechubby {
    width: 15px;
    height: 20px;
    background-position: -156px -395px;
}

.flair-littlegish {
    width: 19px;
    height: 19px;
    background-position: -251px -395px;
}

.flair-littlehorn {
    width: 33px;
    height: 38px;
    background-position: -270px -395px;
}

.flair-littlesteve {
    width: 16px;
    height: 22px;
    background-position: -171px -395px;
}

.flair-loki {
    width: 32px;
    height: 41px;
    background-position: -362px -395px;
}

.flair-lokii {
    width: 29px;
    height: 40px;
    background-position: -394px -395px;
}

.flair-lokiii {
    width: 28px;
    height: 36px;
    background-position: -423px -395px;
}

.flair-looseknight {
    width: 30px;
    height: 27px;
    background-position: -451px -395px;
}

.flair-ludo {
    width: 26px;
    height: 26px;
    background-position: -303px -395px;
}

.flair-lust {
    width: 32px;
    height: 32px;
    background-position: -481px -395px;
}

.flair-lustyblood {
    width: 17px;
    height: 24px;
    background-position: -513px -395px;
}

.flair-magdalene {
    width: 36px;
    height: 29px;
    background-position: -530px -395px;
}

.flair-maggotsleep {
    width: 50px;
    height: 32px;
    background-position: 0 -424px;
}

.flair-manuel {
    width: 23px;
    height: 30px;
    background-position: -50px -424px;
}

.flair-mask {
    width: 48px;
    height: 54px;
    background-position: -138px -424px;
}

.flair-mawofthevoid {
    width: 32px;
    height: 27px;
    background-position: -73px -424px;
}

.flair-meat {
    width: 25px;
    height: 24px;
    background-position: -186px -424px;
}

.flair-meatboyisaac {
    width: 28px;
    height: 25px;
    background-position: -211px -424px;
}

.flair-meatwheel {
    width: 27px;
    height: 30px;
    background-position: -239px -424px;
}

.flair-megablast {
    width: 58px;
    height: 33px;
    background-position: -303px -424px;
}

.flair-megamush {
    width: 26px;
    height: 25px;
    background-position: -451px -424px;
}

.flair-megasatan {
    width: 129px;
    height: 62px;
    background-position: -361px -449px;
}

.flair-mheart {
    width: 31px;
    height: 39px;
    background-position: -513px -424px;
}

.flair-mind {
    width: 26px;
    height: 26px;
    background-position: -544px -424px;
}

.flair-ministro {
    width: 30px;
    height: 21px;
    background-position: -105px -450px;
}

.flair-mom {
    width: 42px;
    height: 43px;
    background-position: 0 -463px;
}

.flair-momsboy {
    width: 34px;
    height: 33px;
    background-position: -186px -450px;
}

.flair-momsknife {
    width: 11px;
    height: 28px;
    background-position: -566px -395px;
}

.flair-moneyispower {
    width: 28px;
    height: 25px;
    background-position: -266px -450px;
}

.flair-mongobaby {
    width: 24px;
    height: 26px;
    background-position: -544px -450px;
}

.flair-monstro {
    width: 35px;
    height: 25px;
    background-position: -42px -476px;
}

.flair-monstro2 {
    width: 35px;
    height: 24px;
    background-position: -77px -476px;
}

.flair-monstroslung {
    width: 32px;
    height: 32px;
    background-position: -220px -476px;
}

.flair-mucormycosis {
    width: 28px;
    height: 27px;
    background-position: -252px -476px;
}

.flair-mushroomman {
    width: 30px;
    height: 28px;
    background-position: -280px -476px;
}

.flair-nail {
    width: 30px;
    height: 25px;
    background-position: -310px -476px;
}

.flair-nickel {
    width: 18px;
    height: 13px;
    background-position: -84px -198px;
}

.flair-nightwatch {
    width: 40px;
    height: 38px;
    background-position: -490px -463px;
}

.flair-originalitlives {
    width: 52px;
    height: 51px;
    background-position: -42px -501px;
}

.flair-ovum {
    width: 22px;
    height: 28px;
    background-position: -112px -476px;
}

.flair-parasite {
    width: 32px;
    height: 32px;
    background-position: -530px -476px;
}

.flair-peep {
    width: 35px;
    height: 29px;
    background-position: 0 -508px;
}

.flair-penny {
    width: 18px;
    height: 13px;
    background-position: -102px -198px;
}

.flair-perfection {
    width: 19px;
    height: 22px;
    background-position: -220px -450px;
}

.flair-perthro {
    width: 15px;
    height: 20px;
    background-position: -340px -476px;
}

.flair-pest {
    width: 36px;
    height: 32px;
    background-position: -94px -508px;
}

.flair-pgdb {
    width: 26px;
    height: 25px;
    background-position: -130px -508px;
}

.flair-phd {
    width: 32px;
    height: 32px;
    background-position: -156px -508px;
}

.flair-pill {
    width: 17px;
    height: 17px;
    background-position: -562px -476px;
}

.flair-pin {
    width: 25px;
    height: 26px;
    background-position: -188px -508px;
}

.flair-placesaac {
    width: 28px;
    height: 36px;
    background-position: -213px -508px;
}

.flair-platinumgod {
    width: 34px;
    height: 34px;
    background-position: -241px -508px;
}

.flair-plum {
    width: 28px;
    height: 28px;
    background-position: -275px -508px;
}

.flair-polty {
    width: 20px;
    height: 19px;
    background-position: -303px -508px;
}

.flair-poop {
    width: 32px;
    height: 32px;
    background-position: -323px -508px;
}

.flair-pride {
    width: 28px;
    height: 25px;
    background-position: -490px -508px;
}

.flair-prizebomb {
    width: 24px;
    height: 26px;
    background-position: -518px -508px;
}

.flair-pulseworm {
    width: 20px;
    height: 15px;
    background-position: -542px -508px;
}

.flair-punchingbag {
    width: 32px;
    height: 32px;
    background-position: -355px -523px;
}

.flair-questionmark {
    width: 18px;
    height: 22px;
    background-position: -387px -523px;
}

.flair-ragling {
    width: 37px;
    height: 23px;
    background-position: -362px -372px;
}

.flair-ragman {
    width: 32px;
    height: 28px;
    background-position: -405px -523px;
}

.flair-rainbowdip {
    width: 17px;
    height: 19px;
    background-position: -562px -493px;
}

.flair-rainbowpoop {
    width: 27px;
    height: 28px;
    background-position: -437px -523px;
}

.flair-rainbowworm {
    width: 20px;
    height: 20px;
    background-position: -464px -523px;
}

.flair-realplatinumgod {
    width: 61px;
    height: 53px;
    background-position: -578px 0;
}

.flair-redchest {
    width: 30px;
    height: 23px;
    background-position: -579px -53px;
}

.flair-reddip {
    width: 15px;
    height: 19px;
    background-position: -609px -53px;
}

.flair-redpoop {
    width: 27px;
    height: 28px;
    background-position: -609px -72px;
}

.flair-ringworm {
    width: 20px;
    height: 19px;
    background-position: -572px -100px;
}

.flair-robobaby {
    width: 18px;
    height: 22px;
    background-position: -592px -100px;
}

.flair-roidrage {
    width: 32px;
    height: 32px;
    background-position: -577px -122px;
}

.flair-rottenbaby {
    width: 16px;
    height: 22px;
    background-position: -610px -100px;
}

.flair-roundworm {
    width: 26px;
    height: 32px;
    background-position: -609px -122px;
}

.flair-sack {
    width: 20px;
    height: 22px;
    background-position: -573px -154px;
}

.flair-sackhead {
    width: 31px;
    height: 32px;
    background-position: -593px -154px;
}

.flair-sacredheart {
    width: 17px;
    height: 26px;
    background-position: -578px -186px;
}

.flair-sadonion {
    width: 32px;
    height: 32px;
    background-position: -595px -186px;
}

.flair-sagittarius {
    width: 20px;
    height: 20px;
    background-position: -579px -218px;
}

.flair-salt {
    width: 24px;
    height: 27px;
    background-position: -599px -218px;
}

.flair-samson {
    width: 30px;
    height: 26px;
    background-position: -579px -245px;
}

.flair-satan {
    width: 48px;
    height: 58px;
    background-position: -579px -271px;
}

.flair-scollex {
    width: 32px;
    height: 32px;
    background-position: -579px -329px;
}

.flair-scumegg {
    width: 17px;
    height: 19px;
    background-position: -623px -218px;
}

.flair-shitfel {
    width: 42px;
    height: 35px;
    background-position: -579px -361px;
}

.flair-shoop {
    width: 23px;
    height: 22px;
    background-position: -609px -245px;
}

.flair-shopkeeper {
    width: 28px;
    height: 34px;
    background-position: -577px -396px;
}

.flair-sickbomb {
    width: 20px;
    height: 19px;
    background-position: -25px -267px;
}

.flair-sickisaac {
    width: 28px;
    height: 25px;
    background-position: -611px -329px;
}

.flair-siren {
    width: 64px;
    height: 49px;
    background-position: -562px -512px;
}

.flair-sissylonglegs {
    width: 23px;
    height: 23px;
    background-position: -210px -267px;
}

.flair-sistermaggy {
    width: 16px;
    height: 22px;
    background-position: -624px -154px;
}

.flair-skatole {
    width: 32px;
    height: 32px;
    background-position: -605px -396px;
}

.flair-sleepybunny {
    width: 28px;
    height: 29px;
    background-position: -605px -428px;
}

.flair-sloth {
    width: 28px;
    height: 25px;
    background-position: -579px -457px;
}

.flair-smileyguy {
    width: 30px;
    height: 26px;
    background-position: -607px -457px;
}

.flair-smolsaac {
    width: 16px;
    height: 18px;
    background-position: -624px -53px;
}

.flair-sosig {
    width: 18px;
    height: 23px;
    background-position: -446px -245px;
}

.flair-sosigface {
    width: 28px;
    height: 25px;
    background-position: -134px -483px;
}

.flair-soul {
    width: 26px;
    height: 26px;
    background-position: -579px -483px;
}

.flair-soulheart {
    width: 16px;
    height: 13px;
    background-position: -45px -267px;
}

.flair-soymilk {
    width: 14px;
    height: 20px;
    background-position: -626px -100px;
}

.flair-spider {
    width: 32px;
    height: 32px;
    background-position: 0 -561px;
}

.flair-spider-enemy {
    width: 40px;
    height: 20px;
    background-position: -162px -483px;
}

.flair-spidermod {
    width: 19px;
    height: 18px;
    background-position: -475px -267px;
}

.flair-spikechest {
    width: 32px;
    height: 23px;
    background-position: -605px -483px;
}

.flair-spikes {
    width: 23px;
    height: 28px;
    background-position: -490px -428px;
}

.flair-steven {
    width: 32px;
    height: 32px;
    background-position: -32px -561px;
}

.flair-stopwatch {
    width: 21px;
    height: 24px;
    background-position: -64px -561px;
}

.flair-super-wrath {
    width: 37px;
    height: 35px;
    background-position: -85px -561px;
}

.flair-superbum {
    width: 28px;
    height: 26px;
    background-position: -122px -561px;
}

.flair-supergreed {
    width: 37px;
    height: 41px;
    background-position: -150px -561px;
}

.flair-techx {
    width: 28px;
    height: 25px;
    background-position: -187px -561px;
}

.flair-techx-item {
    width: 25px;
    height: 18px;
    background-position: -105px -428px;
}

.flair-teratoma {
    width: 44px;
    height: 41px;
    background-position: -215px -561px;
}

.flair-thegamekid {
    width: 32px;
    height: 32px;
    background-position: -259px -561px;
}

.flair-thelost {
    width: 28px;
    height: 37px;
    background-position: -291px -561px;
}

.flair-thelost2 {
    width: 28px;
    height: 37px;
    background-position: -319px -561px;
}

.flair-tinfoil {
    width: 34px;
    height: 37px;
    background-position: -347px -561px;
}

.flair-tinyplanet {
    width: 28px;
    height: 30px;
    background-position: -381px -561px;
}

.flair-tinyplanetitem {
    width: 17px;
    height: 17px;
    background-position: -621px -354px;
}

.flair-tomatoface {
    width: 28px;
    height: 25px;
    background-position: -409px -561px;
}

.flair-tractor {
    width: 28px;
    height: 25px;
    background-position: -437px -561px;
}

.flair-triachnid {
    width: 51px;
    height: 69px;
    background-position: -465px -561px;
}

.flair-trollbomb {
    width: 24px;
    height: 25px;
    background-position: -516px -561px;
}

.flair-tuffhead {
    width: 34px;
    height: 34px;
    background-position: -540px -561px;
}

.flair-turdling {
    width: 38px;
    height: 38px;
    background-position: -574px -561px;
}

.flair-ultra-butt {
    width: 52px;
    height: 27px;
    background-position: 0 -599px;
}

.flair-ultra-butt2 {
    width: 56px;
    height: 23px;
    background-position: -52px -599px;
}

.flair-ultra-butt3 {
    width: 52px;
    height: 28px;
    background-position: -259px -599px;
}

.flair-ultra-butt4 {
    width: 53px;
    height: 22px;
    background-position: -311px -599px;
}

.flair-ultra-butt5 {
    width: 51px;
    height: 28px;
    background-position: -364px -599px;
}

.flair-ultra-butt6 {
    width: 49px;
    height: 31px;
    background-position: -415px -599px;
}

.flair-ultra-greedier-butt {
    width: 56px;
    height: 26px;
    background-position: -516px -599px;
}

.flair-ultra-greedier-butt2 {
    width: 54px;
    height: 29px;
    background-position: -572px -599px;
}

.flair-ultra-greedier-butt3 {
    width: 52px;
    height: 29px;
    background-position: -639px 0;
}

.flair-unknown {
    width: 28px;
    height: 25px;
    background-position: -640px -29px;
}

.flair-vampirebat {
    width: 32px;
    height: 32px;
    background-position: -640px -54px;
}

.flair-vanilla-bluebaby {
    width: 40px;
    height: 35px;
    background-position: -640px -86px;
}

.flair-vanilla-cain {
    width: 40px;
    height: 35px;
    background-position: -640px -121px;
}

.flair-vanilla-eve {
    width: 40px;
    height: 35px;
    background-position: -640px -156px;
}

.flair-vanilla-isaac {
    width: 40px;
    height: 35px;
    background-position: -640px -191px;
}

.flair-vanilla-judas {
    width: 40px;
    height: 35px;
    background-position: -640px -226px;
}

.flair-vanilla-maggy {
    width: 40px;
    height: 35px;
    background-position: -632px -261px;
}

.flair-vanilla-samson {
    width: 40px;
    height: 35px;
    background-position: -639px -296px;
}

.flair-void {
    width: 21px;
    height: 24px;
    background-position: -668px -29px;
}

.flair-wallhugger {
    width: 44px;
    height: 46px;
    background-position: -639px -331px;
}

.flair-war {
    width: 38px;
    height: 36px;
    background-position: -637px -377px;
}

.flair-whipworm {
    width: 22px;
    height: 24px;
    background-position: -637px -413px;
}

.flair-whore {
    width: 50px;
    height: 38px;
    background-position: -637px -437px;
}

.flair-widow {
    width: 34px;
    height: 26px;
    background-position: -637px -475px;
}

.flair-wiggleworm {
    width: 18px;
    height: 20px;
    background-position: -672px -53px;
}

.flair-wiz {
    width: 28px;
    height: 37px;
    background-position: -637px -501px;
}

.flair-wormface {
    width: 59px;
    height: 59px;
    background-position: -626px -538px;
}

.flair-wrath {
    width: 28px;
    height: 25px;
    background-position: -108px -597px;
}

.flair-wretched {
    width: 34px;
    height: 28px;
    background-position: -626px -597px;
}
