.flair {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.flair-1001 {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.flair-1001-round {
    width: 28px;
    height: 25px;
    background-position: -32px 0;
}

.flair-109 {
    width: 29px;
    height: 12px;
    background-position: -60px 0;
}

.flair-120volt {
    width: 22px;
    height: 23px;
    background-position: -89px 0;
}

.flair-1million {
    width: 36px;
    height: 36px;
    background-position: -111px 0;
}

.flair-abel {
    width: 23px;
    height: 21px;
    background-position: -147px 0;
}

.flair-adversary {
    width: 63px;
    height: 45px;
    background-position: -170px 0;
}

.flair-anarchistcookbook {
    width: 32px;
    height: 32px;
    background-position: -233px 0;
}

.flair-angel {
    width: 136px;
    height: 82px;
    background-position: -265px 0;
}

.flair-angrydingle {
    width: 68px;
    height: 36px;
    background-position: -401px 0;
}

.flair-apollyon {
    width: 28px;
    height: 33px;
    background-position: -469px 0;
}

.flair-azazel {
    width: 28px;
    height: 35px;
    background-position: -497px 0;
}

.flair-babyisaac {
    width: 28px;
    height: 33px;
    background-position: 0 -35px;
}

.flair-badposter {
    width: 121px;
    height: 20px;
    background-position: -28px -36px;
}

.flair-bandagegirl {
    width: 25px;
    height: 28px;
    background-position: -233px -35px;
}

.flair-basementboy {
    width: 34px;
    height: 33px;
    background-position: -469px -35px;
}

.flair-bbf {
    width: 24px;
    height: 24px;
    background-position: -503px -35px;
}

.flair-bean {
    width: 32px;
    height: 32px;
    background-position: -28px -59px;
}

.flair-beth {
    width: 44px;
    height: 31px;
    background-position: -60px -59px;
}

.flair-bigfan {
    width: 24px;
    height: 24px;
    background-position: -104px -59px;
}

.flair-binky {
    width: 32px;
    height: 32px;
    background-position: -128px -59px;
}

.flair-bird {
    width: 19px;
    height: 18px;
    background-position: -149px -35px;
}

.flair-birdseye {
    width: 15px;
    height: 25px;
    background-position: -525px 0;
}

.flair-blackbony {
    width: 28px;
    height: 25px;
    background-position: -160px -59px;
}

.flair-blackheart {
    width: 16px;
    height: 13px;
    background-position: -188px -59px;
}

.flair-blast {
    width: 24px;
    height: 22px;
    background-position: -204px -59px;
}

.flair-blasterbutt {
    width: 34px;
    height: 29px;
    background-position: -401px -59px;
}

.flair-blighted {
    width: 31px;
    height: 39px;
    background-position: -435px -59px;
}

.flair-bloat {
    width: 35px;
    height: 30px;
    background-position: -503px -59px;
}

.flair-bloodoath {
    width: 21px;
    height: 26px;
    background-position: 0 -89px;
}

.flair-bob {
    width: 28px;
    height: 25px;
    background-position: -160px -89px;
}

.flair-bobsbrain {
    width: 19px;
    height: 19px;
    background-position: -104px -89px;
}

.flair-bobscurse {
    width: 32px;
    height: 32px;
    background-position: -188px -89px;
}

.flair-body {
    width: 26px;
    height: 26px;
    background-position: -220px -89px;
}

.flair-bomb {
    width: 20px;
    height: 21px;
    background-position: -246px -89px;
}

.flair-bombbum {
    width: 33px;
    height: 27px;
    background-position: -266px -89px;
}

.flair-bookofbelial {
    width: 32px;
    height: 32px;
    background-position: -299px -89px;
}

.flair-bookofrevelations {
    width: 32px;
    height: 32px;
    background-position: -331px -89px;
}

.flair-bookofsecrets {
    width: 32px;
    height: 32px;
    background-position: -363px -89px;
}

.flair-bookofshadows {
    width: 32px;
    height: 32px;
    background-position: -395px -89px;
}

.flair-bookofsin {
    width: 32px;
    height: 32px;
    background-position: -466px -89px;
}

.flair-brimstone {
    width: 56px;
    height: 28px;
    background-position: 0 -121px;
}

.flair-brobobby {
    width: 16px;
    height: 22px;
    background-position: -498px -89px;
}

.flair-brownpoop {
    width: 27px;
    height: 28px;
    background-position: -514px -89px;
}

.flair-bumbo {
    width: 19px;
    height: 19px;
    background-position: -56px -117px;
}

.flair-bumbo2 {
    width: 36px;
    height: 32px;
    background-position: -75px -111px;
}

.flair-bumfriend {
    width: 17px;
    height: 20px;
    background-position: -111px -117px;
}

.flair-buttbomb {
    width: 21px;
    height: 20px;
    background-position: -128px -117px;
}

.flair-button {
    width: 28px;
    height: 19px;
    background-position: -149px -117px;
}

.flair-cain {
    width: 28px;
    height: 25px;
    background-position: -220px -117px;
}

.flair-card {
    width: 21px;
    height: 21px;
    background-position: -248px -117px;
}

.flair-catisaac {
    width: 32px;
    height: 29px;
    background-position: -427px -117px;
}

.flair-caveboy {
    width: 34px;
    height: 37px;
    background-position: -498px -117px;
}

.flair-chad {
    width: 53px;
    height: 48px;
    background-position: -269px -121px;
}

.flair-chaos {
    width: 28px;
    height: 25px;
    background-position: 0 -154px;
}

.flair-chest {
    width: 30px;
    height: 23px;
    background-position: -28px -154px;
}

.flair-chubs {
    width: 30px;
    height: 29px;
    background-position: -58px -154px;
}

.flair-coathanger {
    width: 18px;
    height: 21px;
    background-position: -88px -154px;
}

.flair-cohort {
    width: 55px;
    height: 44px;
    background-position: -322px -121px;
}

.flair-conquest {
    width: 44px;
    height: 38px;
    background-position: -106px -154px;
}

.flair-continuum {
    width: 28px;
    height: 25px;
    background-position: -150px -154px;
}

.flair-cornpoop {
    width: 27px;
    height: 28px;
    background-position: -178px -154px;
}

.flair-cqueen {
    width: 31px;
    height: 30px;
    background-position: -205px -154px;
}

.flair-cricketshead {
    width: 24px;
    height: 23px;
    background-position: -236px -154px;
}

.flair-d100 {
    width: 21px;
    height: 21px;
    background-position: -377px -154px;
}

.flair-d4 {
    width: 19px;
    height: 16px;
    background-position: -398px -154px;
}

.flair-d6 {
    width: 32px;
    height: 32px;
    background-position: -417px -154px;
}

.flair-danny {
    width: 32px;
    height: 25px;
    background-position: -449px -154px;
}

.flair-darkboy {
    width: 56px;
    height: 33px;
    background-position: -481px -154px;
}

.flair-darkbum {
    width: 19px;
    height: 25px;
    background-position: 0 -187px;
}

.flair-darksissy {
    width: 23px;
    height: 20px;
    background-position: -19px -187px;
}

.flair-deadboy {
    width: 35px;
    height: 33px;
    background-position: -42px -187px;
}

.flair-death {
    width: 37px;
    height: 35px;
    background-position: -150px -187px;
}

.flair-deathstouch {
    width: 22px;
    height: 19px;
    background-position: -77px -187px;
}

.flair-deckofcards {
    width: 32px;
    height: 32px;
    background-position: -187px -187px;
}

.flair-delirious {
    width: 32px;
    height: 32px;
    background-position: -219px -187px;
}

.flair-deliriousmeatboy {
    width: 32px;
    height: 32px;
    background-position: -251px -187px;
}

.flair-demonbaby {
    width: 18px;
    height: 24px;
    background-position: -283px -187px;
}

.flair-dgaper1 {
    width: 28px;
    height: 25px;
    background-position: -301px -187px;
}

.flair-dgaper2 {
    width: 28px;
    height: 29px;
    background-position: -329px -187px;
}

.flair-dgaper3 {
    width: 28px;
    height: 27px;
    background-position: -357px -187px;
}

.flair-dgaper4 {
    width: 32px;
    height: 29px;
    background-position: -385px -187px;
}

.flair-dgaper5 {
    width: 29px;
    height: 29px;
    background-position: -417px -187px;
}

.flair-dgaper6 {
    width: 30px;
    height: 25px;
    background-position: -446px -187px;
}

.flair-dgaper7 {
    width: 30px;
    height: 32px;
    background-position: -476px -187px;
}

.flair-dime {
    width: 18px;
    height: 13px;
    background-position: -506px -187px;
}

.flair-dimheretic {
    width: 70px;
    height: 68px;
    background-position: -77px -219px;
}

.flair-dip {
    width: 18px;
    height: 18px;
    background-position: -524px -187px;
}

.flair-dolly {
    width: 24px;
    height: 25px;
    background-position: -506px -205px;
}

.flair-drbrims {
    width: 32px;
    height: 32px;
    background-position: 0 -230px;
}

.flair-drlotp {
    width: 32px;
    height: 32px;
    background-position: -32px -230px;
}

.flair-drmark {
    width: 32px;
    height: 32px;
    background-position: -147px -230px;
}

.flair-drspirit {
    width: 32px;
    height: 32px;
    background-position: -179px -230px;
}

.flair-drugs {
    width: 28px;
    height: 25px;
    background-position: -211px -230px;
}

.flair-drwhore {
    width: 32px;
    height: 32px;
    background-position: -239px -230px;
}

.flair-drybaby {
    width: 23px;
    height: 23px;
    background-position: -271px -230px;
}

.flair-duke {
    width: 31px;
    height: 27px;
    background-position: -294px -230px;
}

.flair-eden {
    width: 28px;
    height: 25px;
    background-position: -325px -230px;
}

.flair-eden10 {
    width: 28px;
    height: 26px;
    background-position: -353px -230px;
}

.flair-eden2 {
    width: 28px;
    height: 34px;
    background-position: -381px -230px;
}

.flair-eden3 {
    width: 28px;
    height: 25px;
    background-position: -409px -230px;
}

.flair-eden4 {
    width: 28px;
    height: 28px;
    background-position: -437px -230px;
}

.flair-eden5 {
    width: 28px;
    height: 26px;
    background-position: -465px -230px;
}

.flair-eden6 {
    width: 29px;
    height: 29px;
    background-position: -493px -230px;
}

.flair-eden7 {
    width: 28px;
    height: 29px;
    background-position: -211px -259px;
}

.flair-eden8 {
    width: 31px;
    height: 32px;
    background-position: -271px -259px;
}

.flair-eden9 {
    width: 32px;
    height: 29px;
    background-position: -302px -259px;
}

.flair-edith {
    width: 34px;
    height: 30px;
    background-position: -334px -259px;
}

.flair-elkopolo {
    width: 28px;
    height: 33px;
    background-position: -409px -259px;
}

.flair-eluc {
    width: 26px;
    height: 28px;
    background-position: -437px -259px;
}

.flair-envy {
    width: 28px;
    height: 25px;
    background-position: -463px -259px;
}

.flair-epicfetus {
    width: 32px;
    height: 32px;
    background-position: -491px -259px;
}

.flair-error {
    width: 33px;
    height: 37px;
    background-position: 0 -291px;
}

.flair-esau {
    width: 30px;
    height: 28px;
    background-position: -33px -291px;
}

.flair-eternalheart {
    width: 16px;
    height: 14px;
    background-position: -99px -205px;
}

.flair-eve {
    width: 30px;
    height: 30px;
    background-position: -63px -291px;
}

.flair-exorcist {
    width: 30px;
    height: 24px;
    background-position: -93px -291px;
}

.flair-eyesore {
    width: 23px;
    height: 22px;
    background-position: -123px -291px;
}

.flair-fallen {
    width: 52px;
    height: 46px;
    background-position: -147px -284px;
}

.flair-famine {
    width: 36px;
    height: 36px;
    background-position: -199px -291px;
}

.flair-fartingbaby {
    width: 32px;
    height: 32px;
    background-position: -235px -291px;
}

.flair-fatbat {
    width: 48px;
    height: 30px;
    background-position: -267px -291px;
}

.flair-fate {
    width: 32px;
    height: 32px;
    background-position: -315px -291px;
}

.flair-fatty {
    width: 37px;
    height: 29px;
    background-position: -347px -291px;
}

.flair-fetus {
    width: 32px;
    height: 32px;
    background-position: -437px -291px;
}

.flair-fistula {
    width: 40px;
    height: 42px;
    background-position: -469px -291px;
}

.flair-flatworm {
    width: 22px;
    height: 10px;
    background-position: -115px -205px;
}

.flair-gangel {
    width: 32px;
    height: 32px;
    background-position: -509px -291px;
}

.flair-gaybombs {
    width: 27px;
    height: 28px;
    background-position: -33px -323px;
}

.flair-gemini {
    width: 32px;
    height: 30px;
    background-position: -60px -323px;
}

.flair-geminibaby {
    width: 22px;
    height: 25px;
    background-position: -384px -291px;
}

.flair-ggdb {
    width: 26px;
    height: 25px;
    background-position: -92px -323px;
}

.flair-ghostbaby {
    width: 16px;
    height: 22px;
    background-position: -522px -230px;
}

.flair-glut {
    width: 29px;
    height: 25px;
    background-position: -118px -323px;
}

.flair-gnawedhead {
    width: 28px;
    height: 25px;
    background-position: -235px -323px;
}

.flair-godhead {
    width: 23px;
    height: 18px;
    background-position: -263px -323px;
}

.flair-goldbomb {
    width: 20px;
    height: 21px;
    background-position: -286px -323px;
}

.flair-goldchest {
    width: 30px;
    height: 23px;
    background-position: -306px -323px;
}

.flair-goldengod {
    width: 34px;
    height: 33px;
    background-position: -147px -333px;
}

.flair-goldenkey {
    width: 14px;
    height: 20px;
    background-position: -527px -25px;
}

.flair-goldenpoop {
    width: 27px;
    height: 28px;
    background-position: -336px -323px;
}

.flair-goldheart {
    width: 16px;
    height: 13px;
    background-position: -523px -252px;
}

.flair-greed {
    width: 28px;
    height: 30px;
    background-position: -363px -323px;
}

.flair-greedbomb {
    width: 38px;
    height: 36px;
    background-position: -181px -333px;
}

.flair-greedheart {
    width: 38px;
    height: 36px;
    background-position: -391px -333px;
}

.flair-greedkeeper {
    width: 28px;
    height: 27px;
    background-position: -429px -323px;
}

.flair-greedkey {
    width: 38px;
    height: 36px;
    background-position: -457px -333px;
}

.flair-gurdy {
    width: 40px;
    height: 28px;
    background-position: -495px -333px;
}

.flair-gurdyjr {
    width: 43px;
    height: 24px;
    background-position: 0 -265px;
}

.flair-gus {
    width: 34px;
    height: 36px;
    background-position: 0 -361px;
}

.flair-harlequinbaby {
    width: 17px;
    height: 22px;
    background-position: -43px -265px;
}

.flair-headlessbaby {
    width: 18px;
    height: 14px;
    background-position: -147px -265px;
}

.flair-heart {
    width: 16px;
    height: 13px;
    background-position: -60px -265px;
}

.flair-hhorseman {
    width: 35px;
    height: 33px;
    background-position: -34px -361px;
}

.flair-hollow {
    width: 35px;
    height: 37px;
    background-position: -69px -361px;
}

.flair-hookworm {
    width: 25px;
    height: 19px;
    background-position: -104px -361px;
}

.flair-hornhand {
    width: 64px;
    height: 60px;
    background-position: -129px -369px;
}

.flair-hosthat {
    width: 22px;
    height: 23px;
    background-position: -219px -361px;
}

.flair-hushy {
    width: 19px;
    height: 20px;
    background-position: -239px -265px;
}

.flair-husk {
    width: 30px;
    height: 28px;
    background-position: -241px -361px;
}

.flair-imp {
    width: 24px;
    height: 22px;
    background-position: -271px -361px;
}

.flair-incubus {
    width: 22px;
    height: 22px;
    background-position: -295px -361px;
}

.flair-intruder {
    width: 30px;
    height: 25px;
    background-position: -317px -361px;
}

.flair-ipecac {
    width: 17px;
    height: 21px;
    background-position: -368px -265px;
}

.flair-isaac {
    width: 28px;
    height: 25px;
    background-position: -347px -361px;
}

.flair-isaacsheart {
    width: 18px;
    height: 22px;
    background-position: -385px -265px;
}

.flair-isek {
    width: 32px;
    height: 31px;
    background-position: -495px -361px;
}

.flair-itlives {
    width: 52px;
    height: 47px;
    background-position: -375px -369px;
}

.flair-jacob {
    width: 30px;
    height: 28px;
    background-position: -193px -392px;
}

.flair-jera {
    width: 17px;
    height: 22px;
    background-position: -523px -265px;
}

.flair-joker {
    width: 21px;
    height: 21px;
    background-position: -429px -361px;
}

.flair-joncusack {
    width: 31px;
    height: 32px;
    background-position: -223px -392px;
}

.flair-judas {
    width: 28px;
    height: 30px;
    background-position: -254px -392px;
}

.flair-key {
    width: 14px;
    height: 20px;
    background-position: -527px -361px;
}

.flair-keybum {
    width: 17px;
    height: 20px;
    background-position: -104px -392px;
}

.flair-knockoutdrops {
    width: 14px;
    height: 25px;
    background-position: -450px -381px;
}

.flair-larryjr {
    width: 35px;
    height: 31px;
    background-position: -282px -392px;
}

.flair-lazarus {
    width: 28px;
    height: 25px;
    background-position: -317px -392px;
}

.flair-leech {
    width: 25px;
    height: 14px;
    background-position: -168px -45px;
}

.flair-lilbrimstone {
    width: 32px;
    height: 32px;
    background-position: -464px -392px;
}

.flair-lilchest {
    width: 20px;
    height: 19px;
    background-position: -345px -392px;
}

.flair-lildelirium {
    width: 19px;
    height: 19px;
    background-position: -427px -392px;
}

.flair-lilgurd {
    width: 24px;
    height: 21px;
    background-position: -496px -392px;
}

.flair-lilgurd2 {
    width: 27px;
    height: 22px;
    background-position: 0 -413px;
}

.flair-lilhaunt {
    width: 22px;
    height: 19px;
    background-position: -520px -392px;
}

.flair-lilhorn {
    width: 28px;
    height: 26px;
    background-position: -27px -411px;
}

.flair-lilith {
    width: 32px;
    height: 27px;
    background-position: -55px -411px;
}

.flair-lilloki {
    width: 20px;
    height: 23px;
    background-position: -345px -411px;
}

.flair-lilmonstro {
    width: 19px;
    height: 19px;
    background-position: -427px -411px;
}

.flair-littlebattery {
    width: 32px;
    height: 32px;
    background-position: -87px -413px;
}

.flair-littlechad {
    width: 18px;
    height: 23px;
    background-position: -446px -411px;
}

.flair-littlechubby {
    width: 15px;
    height: 20px;
    background-position: -520px -411px;
}

.flair-littlegish {
    width: 19px;
    height: 19px;
    background-position: -119px -431px;
}

.flair-littlehorn {
    width: 33px;
    height: 38px;
    background-position: -138px -431px;
}

.flair-littlesteve {
    width: 16px;
    height: 22px;
    background-position: -171px -431px;
}

.flair-loki {
    width: 32px;
    height: 41px;
    background-position: -187px -431px;
}

.flair-lokii {
    width: 29px;
    height: 40px;
    background-position: -219px -431px;
}

.flair-lokiii {
    width: 28px;
    height: 36px;
    background-position: -248px -431px;
}

.flair-looseknight {
    width: 30px;
    height: 27px;
    background-position: -276px -431px;
}

.flair-ludo {
    width: 26px;
    height: 26px;
    background-position: -306px -431px;
}

.flair-lust {
    width: 32px;
    height: 32px;
    background-position: -365px -431px;
}

.flair-lustyblood {
    width: 17px;
    height: 24px;
    background-position: -397px -431px;
}

.flair-magdalene {
    width: 36px;
    height: 29px;
    background-position: -464px -431px;
}

.flair-maggotsleep {
    width: 50px;
    height: 32px;
    background-position: 0 -460px;
}

.flair-manuel {
    width: 23px;
    height: 30px;
    background-position: -414px -431px;
}

.flair-mask {
    width: 48px;
    height: 54px;
    background-position: -50px -460px;
}

.flair-mawofthevoid {
    width: 32px;
    height: 27px;
    background-position: -500px -431px;
}

.flair-meat {
    width: 25px;
    height: 24px;
    background-position: -98px -458px;
}

.flair-meatboyisaac {
    width: 28px;
    height: 25px;
    background-position: -276px -458px;
}

.flair-meatwheel {
    width: 27px;
    height: 30px;
    background-position: -304px -458px;
}

.flair-megablast {
    width: 58px;
    height: 33px;
    background-position: -437px -460px;
}

.flair-megamush {
    width: 26px;
    height: 25px;
    background-position: -331px -458px;
}

.flair-megasatan {
    width: 129px;
    height: 62px;
    background-position: -541px 0;
}

.flair-mheart {
    width: 31px;
    height: 39px;
    background-position: -541px -62px;
}

.flair-mind {
    width: 26px;
    height: 26px;
    background-position: -572px -62px;
}

.flair-ministro {
    width: 30px;
    height: 21px;
    background-position: -598px -62px;
}

.flair-mom {
    width: 42px;
    height: 43px;
    background-position: -628px -62px;
}

.flair-momsboy {
    width: 34px;
    height: 33px;
    background-position: -541px -105px;
}

.flair-momsknife {
    width: 11px;
    height: 28px;
    background-position: -575px -105px;
}

.flair-moneyispower {
    width: 28px;
    height: 25px;
    background-position: -586px -105px;
}

.flair-mongobaby {
    width: 24px;
    height: 26px;
    background-position: -614px -105px;
}

.flair-monstro {
    width: 35px;
    height: 25px;
    background-position: -586px -131px;
}

.flair-monstro2 {
    width: 35px;
    height: 24px;
    background-position: -621px -131px;
}

.flair-monstroslung {
    width: 32px;
    height: 32px;
    background-position: -537px -155px;
}

.flair-mucormycosis {
    width: 28px;
    height: 27px;
    background-position: -621px -155px;
}

.flair-mushroomman {
    width: 30px;
    height: 28px;
    background-position: -569px -182px;
}

.flair-nail {
    width: 30px;
    height: 25px;
    background-position: -638px -105px;
}

.flair-nickel {
    width: 18px;
    height: 13px;
    background-position: -21px -105px;
}

.flair-nightwatch {
    width: 40px;
    height: 38px;
    background-position: -599px -182px;
}

.flair-originalitlives {
    width: 52px;
    height: 51px;
    background-position: -540px -220px;
}

.flair-ovum {
    width: 22px;
    height: 28px;
    background-position: -649px -155px;
}

.flair-parasite {
    width: 32px;
    height: 32px;
    background-position: -639px -183px;
}

.flair-peep {
    width: 35px;
    height: 29px;
    background-position: -592px -220px;
}

.flair-penny {
    width: 18px;
    height: 13px;
    background-position: -177px -130px;
}

.flair-perfection {
    width: 19px;
    height: 22px;
    background-position: -195px -130px;
}

.flair-perthro {
    width: 15px;
    height: 20px;
    background-position: -377px -130px;
}

.flair-pest {
    width: 36px;
    height: 32px;
    background-position: -627px -220px;
}

.flair-pgdb {
    width: 26px;
    height: 25px;
    background-position: -592px -252px;
}

.flair-phd {
    width: 32px;
    height: 32px;
    background-position: -618px -252px;
}

.flair-pill {
    width: 17px;
    height: 17px;
    background-position: -392px -130px;
}

.flair-pin {
    width: 25px;
    height: 26px;
    background-position: -541px -284px;
}

.flair-placesaac {
    width: 28px;
    height: 36px;
    background-position: -566px -284px;
}

.flair-platinumgod {
    width: 34px;
    height: 34px;
    background-position: -594px -284px;
}

.flair-plum {
    width: 28px;
    height: 28px;
    background-position: -628px -284px;
}

.flair-polty {
    width: 20px;
    height: 19px;
    background-position: -459px -130px;
}

.flair-poop {
    width: 32px;
    height: 32px;
    background-position: -628px -312px;
}

.flair-pride {
    width: 28px;
    height: 25px;
    background-position: -541px -344px;
}

.flair-prizebomb {
    width: 24px;
    height: 26px;
    background-position: -541px -312px;
}

.flair-pulseworm {
    width: 20px;
    height: 15px;
    background-position: 0 -215px;
}

.flair-punchingbag {
    width: 32px;
    height: 32px;
    background-position: -569px -344px;
}

.flair-questionmark {
    width: 18px;
    height: 22px;
    background-position: -409px -130px;
}

.flair-ragling {
    width: 37px;
    height: 23px;
    background-position: -601px -344px;
}

.flair-ragman {
    width: 32px;
    height: 28px;
    background-position: -638px -344px;
}

.flair-rainbowdip {
    width: 17px;
    height: 19px;
    background-position: -479px -130px;
}

.flair-rainbowpoop {
    width: 27px;
    height: 28px;
    background-position: -542px -372px;
}

.flair-rainbowworm {
    width: 20px;
    height: 20px;
    background-position: -650px -252px;
}

.flair-realplatinumgod {
    width: 61px;
    height: 53px;
    background-position: -601px -372px;
}

.flair-redchest {
    width: 30px;
    height: 23px;
    background-position: -535px -425px;
}

.flair-reddip {
    width: 15px;
    height: 19px;
    background-position: -656px -130px;
}

.flair-redpoop {
    width: 27px;
    height: 28px;
    background-position: -565px -425px;
}

.flair-ringworm {
    width: 20px;
    height: 19px;
    background-position: -406px -312px;
}

.flair-robobaby {
    width: 18px;
    height: 22px;
    background-position: -592px -425px;
}

.flair-roidrage {
    width: 32px;
    height: 32px;
    background-position: -610px -425px;
}

.flair-rottenbaby {
    width: 16px;
    height: 22px;
    background-position: -569px -155px;
}

.flair-roundworm {
    width: 26px;
    height: 32px;
    background-position: -642px -425px;
}

.flair-sack {
    width: 20px;
    height: 22px;
    background-position: -532px -457px;
}

.flair-sackhead {
    width: 31px;
    height: 32px;
    background-position: -552px -457px;
}

.flair-sacredheart {
    width: 17px;
    height: 26px;
    background-position: -397px -457px;
}

.flair-sadonion {
    width: 32px;
    height: 32px;
    background-position: -583px -457px;
}

.flair-sagittarius {
    width: 20px;
    height: 20px;
    background-position: -193px -372px;
}

.flair-salt {
    width: 24px;
    height: 27px;
    background-position: -615px -457px;
}

.flair-samson {
    width: 30px;
    height: 26px;
    background-position: -639px -457px;
}

.flair-satan {
    width: 48px;
    height: 58px;
    background-position: -98px -483px;
}

.flair-scollex {
    width: 32px;
    height: 32px;
    background-position: -146px -483px;
}

.flair-scumegg {
    width: 17px;
    height: 19px;
    background-position: -464px -372px;
}

.flair-shitfel {
    width: 42px;
    height: 35px;
    background-position: -178px -483px;
}

.flair-shoop {
    width: 23px;
    height: 22px;
    background-position: -220px -483px;
}

.flair-shopkeeper {
    width: 28px;
    height: 34px;
    background-position: -243px -483px;
}

.flair-sickbomb {
    width: 20px;
    height: 19px;
    background-position: -271px -483px;
}

.flair-sickisaac {
    width: 28px;
    height: 25px;
    background-position: -331px -483px;
}

.flair-siren {
    width: 64px;
    height: 49px;
    background-position: -359px -483px;
}

.flair-sissylonglegs {
    width: 23px;
    height: 23px;
    background-position: -495px -483px;
}

.flair-sistermaggy {
    width: 16px;
    height: 22px;
    background-position: -171px -457px;
}

.flair-skatole {
    width: 32px;
    height: 32px;
    background-position: -518px -483px;
}

.flair-sleepybunny {
    width: 28px;
    height: 29px;
    background-position: -639px -483px;
}

.flair-sloth {
    width: 28px;
    height: 25px;
    background-position: 0 -512px;
}

.flair-smileyguy {
    width: 30px;
    height: 26px;
    background-position: -271px -512px;
}

.flair-smolsaac {
    width: 16px;
    height: 18px;
    background-position: -28px -512px;
}

.flair-sosig {
    width: 18px;
    height: 23px;
    background-position: -220px -512px;
}

.flair-sosigface {
    width: 28px;
    height: 25px;
    background-position: -301px -512px;
}

.flair-soul {
    width: 26px;
    height: 26px;
    background-position: -329px -512px;
}

.flair-soulheart {
    width: 16px;
    height: 13px;
    background-position: -39px -105px;
}

.flair-soymilk {
    width: 14px;
    height: 20px;
    background-position: -656px -272px;
}

.flair-spider {
    width: 32px;
    height: 32px;
    background-position: -423px -512px;
}

.flair-spider-enemy {
    width: 40px;
    height: 20px;
    background-position: -455px -512px;
}

.flair-spidermod {
    width: 19px;
    height: 18px;
    background-position: -495px -512px;
}

.flair-spikechest {
    width: 32px;
    height: 23px;
    background-position: -550px -512px;
}

.flair-spikes {
    width: 23px;
    height: 28px;
    background-position: -582px -512px;
}

.flair-steven {
    width: 32px;
    height: 32px;
    background-position: -605px -512px;
}

.flair-stopwatch {
    width: 21px;
    height: 24px;
    background-position: -637px -512px;
}

.flair-super-wrath {
    width: 37px;
    height: 35px;
    background-position: 0 -544px;
}

.flair-superbum {
    width: 28px;
    height: 26px;
    background-position: -37px -536px;
}

.flair-supergreed {
    width: 37px;
    height: 41px;
    background-position: -65px -544px;
}

.flair-techx {
    width: 28px;
    height: 25px;
    background-position: -146px -536px;
}

.flair-techx-item {
    width: 25px;
    height: 18px;
    background-position: -174px -536px;
}

.flair-teratoma {
    width: 44px;
    height: 41px;
    background-position: -102px -544px;
}

.flair-thegamekid {
    width: 32px;
    height: 32px;
    background-position: -199px -536px;
}

.flair-thelost {
    width: 28px;
    height: 37px;
    background-position: -231px -536px;
}

.flair-thelost2 {
    width: 28px;
    height: 37px;
    background-position: -355px -536px;
}

.flair-tinfoil {
    width: 34px;
    height: 37px;
    background-position: -383px -536px;
}

.flair-tinyplanet {
    width: 28px;
    height: 30px;
    background-position: -455px -536px;
}

.flair-wiggleworm {
    width: 18px;
    height: 20px;
    background-position: -483px -536px;
}

.flair-wiz {
    width: 28px;
    height: 37px;
    background-position: -501px -536px;
}

.flair-wormface {
    width: 59px;
    height: 59px;
    background-position: -259px -544px;
}

.flair-wrath {
    width: 28px;
    height: 25px;
    background-position: -529px -536px;
}

.flair-wretched {
    width: 34px;
    height: 28px;
    background-position: -637px -536px;
}
